<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
    
              
          
    <div class="container-fluid" style="background-image: url(images/login.jpg);">
    <form action="books" onsubmit="return validate();" >
        <div class="mb-3" style="padding-left: 45%; padding-top: 16%;"   >
            <h3 style="padding-left: 15%; color:white;">Sign In</h3><br />
            <!-- style="padding-left: 5%; padding-top: 17%;" -->
          

          <input type="text" class="form-control" id="InputEmail"  placeholder="Email" style="width:40%;">
          <label for="emailerror" id="emailerror"></label><br />
        </div>
        <div class="mb-3" style="padding-left: 45%;">
    
          <input type="password" class="form-control" id="InputPassword"   placeholder="Password" style="width: 40%;" >
          <label for="pwderror" id="pwderror"></label><br />
        </div>
        
        <div class="mb-3 form-check" style="padding-left: 47%;">
          <input type="checkbox"      class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1" style="color:white;">Remember Me</label>
        </div>
        <div class="mb-3 form-check" style="padding-left: 45%;">
        <button type="submit" class="btn btn-primary" >Submit</button>
      </div>
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
        <br />
      </form>
    

</div>

<script src="/js/form.js"></script>
</body>
</html>